/* Creating variables for color scheme */
:root {
    --primary-color: #358455;
    --secondary-color: #FFFFFF;
}
/* Whole page styling, deafault butts element against one another and the edges of the view. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Styling for section below the header */
.section-formating {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    margin: 10px 0;
}
/* Section Header Styling */
.section-header {
    flex: 20%;
    text-align: center;
    border-right: 4px solid var(--primary-color);
    margin-right: 10px;
    margin-left: 34px;
    padding-right: 10px;
    font-size: 4.5vw;
}
/* Header Styling Start */
/* General Header Styling, sets background color, makes a flexbox and sticks to the top of the page.*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    position: --webkit-sticky;
    top: 0;
    background-color: var(--primary-color);
    z-index: 9999;
}
/* Emphasizes the header */
header h1 {
    font-size: 36px;
    font-weight: bold;
}
/* Removes underline from links and changes the color */
header a {
    text-decoration: none;
    color: var(--secondary-color)
}
/* Centers the nav element in the top bar */
header nav {
    margin: 10px 0;
}
/* makes the unordered list a flex box, lets it wrap, and removes the standard tick marks */
header ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}
/* Gives padding to seperate the elements of the screen, a scalable font size for the list items, and makes the list items less emphasized */
header ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.75vw;
}
/* Header Styling End */

/* Hero Styling Start */
/* Adds a background image to the hero, links an image, start from the center bottom of the image and has the image cover the .hero element,  */
/* also creates a padding as a percentage of the page */
.hero {
    background-image: url(../assets/images/heroimage.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 0 0;
    justify-content: flex-end;
}
/* sets color of the text and background, gives a scalable margin, and some static padding */
.hero h3 {
    margin: 1%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 10px;
}
/* Hero Styling End */
/* Bio Section Styling Start */

/* gives the remaining elements in the bio section 80% of flex width, then provides spacing and aligns items in the center vertically. */
.bio div {
    flex: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}
/* gives the image a border, and scalable sizing. */
.bio img {
    height: 100%;
    width: 40%;
    object-fit: fill;
    border: 10px solid var(--primary-color);
}
/* aligns paragraph text in the center of the p element */
.bio div p {
    text-align: center;
}
/* Bio Section Styling End */
/* Work Section Styling Start */
.work div {
    flex: 80%;
    display: flex;
    flex-wrap: wrap;
}
/* stretches the surf report flex item across the flex item, then makes it a flexbox, also adds a margin to the bottom and right of the flex item */
.surf-report {
    flex: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    border: solid 10px var(--primary-color);
    margin-bottom: 10px;
    margin-right: 10px;
}
/* gives the link in surf report item a background color, text color, scalable font size, and remove text-decorations */
.surf-report a {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.5vw;
}
/* changes the opacity of the link when it is hovered over with a mouse */
.surf-report a:hover {
    opacity: 75%;
}
/* stretches the img across the flex item and scales its size accordingly */
.surf-report a img {
    height: 90%;
    width: 100%;
    object-fit: fill;
}
/* stretches the led wall, quixotic, pastel puzzles, and run buddy elements 47% across the flex item, then makes them a flexbox, also adds a margin to the bottom and right of the flex item */
.led-wall, .quixotic, .pastel-puzzles, .run-buddy {
    flex: 47%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    border: solid 10px var(--primary-color);
    margin-bottom: 10px;
    margin-right: 10px;
}
/* gives the link in the led wall, quixotic, pastel puzzles, and run buddy elements items a background color, text color, scalable font size, and remove text-decorations */
.link-format {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1vw;
}
/* changes the opacity of the links when they are hovered with the mouse */
.link-format:hover {
    opacity: 75%;
}
/* stretches the img across the flex item and scales its size accordingly */
.img-format {
    height: 90%;
    width: 100%;
    object-fit: fill;
}
/* Work Section Styling End */
/* Contact Section Styling Start */
.contact ul {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3vw;
    text-decoration-line: underline;
    font-weight: bold;
    color: var(--primary-color);
}
.contact ul li a {
    color: var(--primary-color);
}
/* Contact Section Styling End */

/* Scalable Screen Styling Start */
/* adds style changes for screen sizes 980px and smaller */
@media screen and (max-width: 980px) {
    /* styles header h1 to take up 100% width then wrap the nav elements, centers everything, and sets the nav font size to a default 20px */
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        position: sticky;
        position: --webkit-sticky;
        top: 0;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
}
/* Styling for screens tablet sized and smaller */
@media screen and (max-width: 768px) {
    /* changes section flex formatting to be in colum flow. */
    .section-formating {
        display: flex;
        flex-flow: column;
        margin: 10px 0;
    }
    /* Moves section headings to the middle of the page, removes the side border, and adds a bottom border. */
    .section-header {
    flex: 100%;
    text-align: center;
    border-right: 0;
    border-bottom: 4px solid var(--primary-color);
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
    font-size: 4.5vw;
    }
    /* Stretches work child elements all the way across the page, and adds scaling font to the links */
    .led-wall, .quixotic, .pastel-puzzles, .run-buddy {
        flex: 100%;
        margin-left: 10px;
    }
    .link-format {
        font-size: 2vw;
    }
    .surf-report a {
        font-size: 2vw;
    }
    .surf-report {
        margin-left: 10px;
    }
    /* Makes the ul item stretch the length of the page */
    .contact ul {
        width: 100%;
    }
    /* gives the quote in the hero element scalable font size */
    .hero h3 {
        font-size: 2.5vw;
    }
}
/* Styling for screens 575px and smaller */
@media screen and (max-width: 575px) {
    /* increases the scalable font size of the work section links */
    .link-format {
        font-size: 2.5vw;
    }
    .surf-report a {
        font-size: 2.5vw;
    }
}
/* Scalable Screen Styling End */