/* Creating variables for color scheme */
:root {
    --primary-color: #358455;
    --secondary-color: #FFFFFF;
    --tertiary-color: #7851a9;
    --shadows: rgba(0, 0, 0, 0.75);
}
/* Whole page styling, deafault butts element against one another and the edges of the view. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header Styling Start */
/* General Header Styling, sets background color, makes a flexbox and sticks to the top of the page.*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    position: --webkit-sticky;
    top: 0;
    background-color: var(--primary-color);
}
/* Emphasizes the header */
header h1 {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 3px 3px 10px var(--shadows);
}
/* Removes underline from links and changes the color */
header a {
    text-decoration: none;
    color: var(--secondary-color)
}
/* Centers the nav element in the top bar */
header nav {
    margin: 10px 0;
}
/* makes the unordered list a flex box, lets it wrap, and removes the standard tick marks */
header ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}
/* Gives padding to seperate the elements of the screen, a scalable font size for the list items, and makes the list items less emphasized */
header ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/* Header Styling End */

/* Hero Styling Start */
/* Adds a background image to the hero, links an image, start from the center bottom of the image and has the image cover the .hero element,  */
/* also creates a padding as a percentage of the page */
.hero {
    background-image: url(../assets/images/heroimage.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 0 0;
    justify-content: flex-end;
}
/* sets color of the text and background, gives a scalable margin, and some static padding */
.hero h3 {
    margin: 1%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 10px;
}
/* Hero Styling End */
/* Bio Section Styling Start */

.bio {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    margin: 10px 0;
}
.bio h2 {
    flex: 10%;
    text-align: center;
    border-right: 4px solid var(--primary-color);
    margin-right: 10px;
    margin-left: 20px;
    padding-right: 10px;
    font-size: 60px;
}
.bio div {
    flex: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: space-evenly;
}
.bio img {
    height: 100%;
    width: 50%;
    object-fit: fill;
    border: 10px solid var(--primary-color);
}
.bio div p {
    text-align: center;
}
/* Bio Section Styling End */
/* Work Section Styling Start */
.work {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    margin: 10px 0;
}
.work h2 {
    flex: 10%;
    text-align: center;
    border-right: 4px solid var(--primary-color);
    margin-right: 10px;
    margin-left: 34px;
    padding-right: 10px;
    font-size: 60px;
    }
.work div {
    flex: 90%;
    display: flex;
    flex-wrap: wrap;
}
.surf-report {
    flex: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    border: solid 10px var(--primary-color);
    margin-bottom: 10px;
    margin-right: 10px;
}
.surf-report a {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
}
.surf-report a img {
    height: 95%;
    width: 100%;
    object-fit: fill;
    border: solid 2px var(--primary-color);
}
.led-wall, .calculator, .pastel-puzzles, .run-buddy {
    flex: 49%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    border: solid 10px var(--primary-color);
    margin-bottom: 10px;
    margin-right: 10px;
}
.link-format {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
}
.img-format {
    height: 90%;
    width: 100%;
    object-fit: fill;
    border: solid 2px var(--primary-color);
}
/* Work Section Styling End */